n8n/workflows/Importa dados.json
{
  "name": "Importa dados",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        -16
      ],
      "id": "905f9eb8-949d-4620-a1c4-9af9599c9962",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/vendas.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -224,
        -16
      ],
      "id": "86d28b6b-9d2c-4db1-b13a-0c741a25f8ee",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -16,
        -16
      ],
      "id": "5fab292f-ff19-4961-95e2-4c12650c5505",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n\n  return {\n    json: {\n      data: item.json.data,\n      produto: item.json.produto,\n      categoria: item.json.categoria,\n      vendedor: item.json.vendedor,\n      cidade: item.json.cidade,\n      valor: Number(item.json.valor)\n    }\n  }\n\n})"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -16
      ],
      "id": "df7b3be3-24a4-4d17-bcd9-dba8ab7adaf7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "vendas",
          "mode": "list",
          "cachedResultName": "vendas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "valor": "={{ $json.valor }}",
            "data": "={{ $json.data }}",
            "produto": "={{ $json.produto }}",
            "categoria": "={{ $json.categoria }}",
            "vendedor": "={{ $json.vendedor }}",
            "cidade": "={{ $json.cidade }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "produto",
              "displayName": "produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "categoria",
              "displayName": "categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vendedor",
              "displayName": "vendedor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cidade",
              "displayName": "cidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "valor",
              "displayName": "valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        400,
        -16
      ],
      "id": "cb8d1386-ccd1-4c86-b03a-e77ec4809378",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "XVWhviggCUq6pUQa",
          "name": "Vendas"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "70dcaa9f-b4a7-496e-bdee-96020ebe61a2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "461a880730c022aab83fb0e3dd318154588925acbeb5df8913941a7ba3ee4b1f"
  },
  "id": "pu3hwLRaN2OOdHYW",
  "tags": []
}